.h2 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 100px;
  margin-top: 200px;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overflow: hidden;
}

.ul {
  display: flex;
  list-style: none;
  padding: 30px;
}

.imagenes {
  padding: 10px;
  width: 400px;
  height: 700px;
  object-fit: cover;
}

.arrow {
  background-color: rgba(32, 32, 32, 0.54);
  color: white;
  width: 100px;
  position: absolute;
  top: 50%; /* Centra verticalmente */

  cursor: pointer;
  z-index: 100;
}

#btnR {
  right: 70px; /* Ajusta la distancia desde el borde derecho */
}

#btnL {
  left: 70px; /* Ajusta la distancia desde el borde izquierdo */
}
