.h2 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 100px;
  margin-top: 200px;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
}
.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Oculta el overflow */
  scroll-behavior: smooth; /* Asegura el scroll suave */
}

.ul {
  display: flex;
  list-style: none;
  padding: 0; /* Asegura que no haya padding extra que cause problemas */
  margin: 0; /* Asegura que no haya margin extra que cause problemas */
}

.arrow {
  background-color: rgba(32, 32, 32, 0.54);
  color: white;
  width: 100px;
  position: absolute;
  top: 50%; /* Centra verticalmente */

  cursor: pointer;
  z-index: 100;
}

#btnR {
  right: 70px; /* Ajusta la distancia desde el borde derecho */
}

#btnL {
  left: 70px; /* Ajusta la distancia desde el borde izquierdo */
}
.imageContainer {
  width: 500px;
  height: 700px;
  margin: 10px;
  overflow: hidden; /* Esconde la parte de la imagen que se amplía */
  position: relative;
}

.imagenes {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Añadir transición suave */
}

.imagenes:hover {
  transform: scale(1.1); /* Escala la imagen un 10% más grande */
}
