.h2 {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 100px;
  margin-top: 200px;
}

.video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  place-items: center; /* Centra los elementos en ambos ejes (x e y) */ /* Espacio entre los elementos, ajusta según sea necesario */
  gap: 20px;
}

.video1 {
  transition: transform 0.5s ease;
}

.video1:hover {
  transform: scale(1.1);
}
