@import 'tailwindcss';

:root {
  --background: #212121;
  --background-bright: #272727;
}
.glassmorphism {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px) saturate(100%);
  -webkit-backdrop-filter: blur(px) saturate(100%);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
