/* MyComponent.module.css */
.h1 {
  font-size: 8em;
  background-color: #080808;
  color: white;
  margin: 5px 0px;
}
.h2 {
  font-size: 5em;
  background-color: #080808;
  color: white;
  margin: 5px 0px;
  font-style: italic;
  font-weight: 400;
}
.header {
  margin: 10px 200px;
  display: flex;
  flex-direction: column;
}
