/* MyComponent.module.css */
.h1 {
  font-size: 6em;
  margin: 5px 0px;
}
.h2 {
  font-size: 4em;
  margin: 5px 0px;
  font-style: italic;
  font-weight: 400;
}

.p1 {
  font-family: "barlow";
  font-size: 1.5em;
  font-weight: 400;
  margin: 5px 0px;
}

.p2 {
  font-family: "barlow";
  font-size: 1.2em;
  font-weight: 100;
  margin: 5px 0px;
}
.header {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
@keyframes revealText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.div {
  position: relative;
  overflow: hidden; /* Oculta todo lo que se desborde fuera del contenedor */
}

.h1,
.h2 {
  position: relative;
  z-index: 1; /* Asegura que el texto esté encima del div que lo tapa */
}

.h1::before,
.h2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #080808; /* O el color de fondo del contenedor */
  z-index: 2; /* Asegura que el div esté por encima del texto */
  animation: revealText 2s ease forwards; /* Aplica la animación de deslizamiento */
}

.h2::before {
  animation-delay: 0.5s; /* Retardo para que el segundo texto se revele después */
}
